{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/index.css">

  <title>Up. Inovação Corporativa</title>
{% endblock head %}

{% block content %}
  <div class="logo">
    <img src="/assets/logo.png" alt="Logo Up">

    <h1>Inovação Corporativa</h1>
  </div>

  <div id="about">
    <h1>QUEM SOMOS</h1>

    <div class="about">
      <div class="about-p">
        <p>
          Somos uma empresa de <big>inovação corporativa</big> que busca o <big>crescimento</big> e a <big>diferenciação dos negócios</big>
          através das <big>pessoas.</big> Usamos como ferramenta de trabalho a <big>cocriação</big> de projetos de consultoria 
          <big>personalizados,</big> treinamentos, palestras, dinâmicas e workshops interativos.
          <br>
          Desenvolvemos, implantamos e acompanhamos projetos de aperfeiçoamento do negócio, elucidação de <big>cultura</big> e 
          <big>valores,</big> <big>performance</big> da equipe de colaboradores e líderes e marketing digital e <big>branding.</big>
        </p>
      </div>

      <img src="/assets/lu-gabi.jpeg" alt="Luíza Rezende e Gabriela Oliveira">
    </div>
  </div>

  <div id="curriculo">
    <div class="gabi">
      <img src="/assets/gabi.jpg" alt="Gabriela Oliveira">

      <p>
        <big>GABRIELA OLIVEIRA</big> tem uma trajetória de trabalho que a fez uma verdadeira vendedora, por isso o amor por ensinar as 
        pessoas a arte de vender e encantar o cliente. Seu objetivo nessa jornada da vida é fazer com que o outro descubra seu verdadeiro 
        propósito e sinta felicidade em seu trabalho. Graduada em Administração de Empresas e com MBA em Marketing e Negócios, tem vasta 
        experiência e cursos em vendas, pós vendas, análise de mercado, serviços, produtos e liderança empreendedora. Tem uma paixão por 
        pessoas e se dedica a estudar como potencializar o outro a fim de construir um mundo em que se possa ser mais feliz no trabalho e 
        na carreira.
      </p>
    </div>

    <div class="lu">
      <img src="/assets/lu.jpg" alt="Luisa Rezende">
      
      <p>
        <big>LUÍSA REZENDE</big> é vendedora por paixão e se conectar com pessoas é o seu chamado. Acredita que só vale a pena fazer algo 
        se for bom para ela, para os outros e para o mundo! Trabalhar é uma felicidade e ajudar as pessoas a encontrar o “brilho no olho” 
        também! É uma estudiosa sobre experiência do cliente, liderança e vendas. No seu currículo tem formação em Administração de Empresas, 
        Coaching pela Associação Brasileira de Coaching, PNL pela Superare, além de cursos e livros da área.
      </p>
    </div>
  </div>

  <div id="we-do">
    <h1>NOSSO <big>"PORQUÊ"</big></h1>

    <p>
      <big>Potencializar</big> empresas e pessoas a fim de que possam gerar uma <big>experiência</big> incrível para seus clientes, se 
      tornando um negócio de <big>sucesso</big> e proporcionando <big>benefícios orgânicos</big> para a sociedade.
    </p>
  </div>

  <div id="we-believe">
    <img src="/assets/acreditamos.png" alt="O que acreditamos">
  </div>

  <div id="testimonials">
    <h1>DEPOIMENTOS</h1>
    <div class="cards">

      <div class="card paula">
        <p>
          “Vocês me deram <big>direcionamento</big> e isso foi muito importante. Não ficaram na teoria, partiram para a <big>prática</big> 
          junto comigo.”
        </p>
        <p>
          <strong>Paula Botelho</strong>
          <br>
          <a href="https://www.instagram.com/acessoriospaulabotelho/" target="_blank">@acessoriospaulabotelho</a>
        </p>
      </div>

      <div class="card helio">
        <p>
          “Depois de dar um <big>UP</big>, eu vivi grandes <big>mudanças</big>”.
        </p>
        <p>
          <strong>Hélio Zechini</strong>
          <br>
          <a href="https://www.instagram.com/bombrasileiro/" target="_blank">@bombrasileiro</a>
        </p>
      </div>

      <div class="card thais">
        <p>
          “Desenvolver esse trabalho com vocês está sendo uma <big>redescoberta</big> de mim mesma. Além de estar sendo fundamental para me 
          entender melhor, deixando mais claro o que devo fazer para alcançar meus <big>objetivos</big>.”
        </p>
        <p>
          <strong>Thaís Werneck</strong>
          <br>
          <a href="https://www.instagram.com/werneckarquitetura/" target="_blank">@werneckarquitetura</a>
          
        </p>
      </div>

      <div class="card thais">
        <p>
          “Vejo meus funcionário mais <big>motivados e felizes</big> com a possibilidade de somarem na empresa. Isso impactou nossos 
          <big>resultados</big> diretamente”.
        </p>
        <p>
          <strong>Fernando Masini</strong>
          <br>
          <a href="https://www.instagram.com/dermapetjf/" target="_blank">@dermapetjf</a>
        </p>
      </div>

    </div>
  </div>
{% endblock content %}